<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>KiKi Booth</title>
  <meta name="description" content="Description.">
  <meta name="keywords" content="Keywords">

  <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../assets/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../assets/js/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../assets/img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="../assets/css/bootstrap.min.css?ver=1.0" type="text/css" media="all" />
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css?ver=1.0" type="text/css" media="all" />
  <link rel="stylesheet" href="../assets/css/toastr.min.css?ver=1.0" type="text/css" media="all" />
  <link rel="stylesheet" href="../assets/css/animate.css?ver=1.0" type="text/css" media="all" />
  <link rel="stylesheet" href="../assets/css/style.css?ver=1.0" type="text/css" media="all" />
  <link rel="stylesheet" href="../assets/css/datepicker.css?ver=1.0" type="text/css" media="all" />

  <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.min.js"></script>
        <script src="../assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <header style='background: #f7f7f7; position: inherit'>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-nav"></button>
          <a class="navbar-brand text-hide" href="index.html"><img src="../assets/img/logo/logo.png" alt="" />KiKi Booth</a>
        </div>
        <div class="collapse navbar-collapse" id="header-nav">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#packages">Packages</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="tel:844-438-5454"><span><span class="fa fa-phone"></span> 844-Get-KiKi</span></a></li>
            <li><a href="#contact-us" class="featured scroll-quote">Get a quote</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div id="faq">
    <div class="container">
      <h2>Frequently Asked Questions</h2>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="faq-wrapper">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      1. How much space does the KiKi Booth take?
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>Our setup takes a maximum space of 8 x 8 ft, depending on which package you choose.</p>
                    <p><a href=""><strong>Check out our packages.</strong></a></p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      2. Does the KiKi Booth work outdoors?
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius facere laborum
                      sapiente voluptatibus. Dolores illo magnam magni necessitatibus nobis, odio quam unde!
                      Exercitationem nemo nisi quod sit! Consequuntur, saepe.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">
                      3. What are the backdrop options avaialable?
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius facere laborum
                      sapiente voluptatibus. Dolores illo magnam magni necessitatibus nobis, odio quam unde!
                      Exercitationem nemo nisi quod sit! Consequuntur, saepe.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                      aria-expanded="false" aria-controls="collapseThree">
                      4. Can I have a specific themed backdrop
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius facere laborum
                      sapiente voluptatibus. Dolores illo magnam magni necessitatibus nobis, odio quam unde!
                      Exercitationem nemo nisi quod sit! Consequuntur, saepe.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                      aria-expanded="false" aria-controls="collapseThree">
                      5. What are my payment options?
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius facere laborum
                      sapiente voluptatibus. Dolores illo magnam magni necessitatibus nobis, odio quam unde!
                      Exercitationem nemo nisi quod sit! Consequuntur, saepe.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cta">
        <div class="small-text-info">
          <em>Ready to give your event with the best photo <br />booth experience?</em>
        </div>
        <a href="" class="button button-big">Get a quote</a>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="info-card small">
            <p><em>Still not sure? <a href="">Fill out our contact form</a> and we'll answer your questions.</em></p>
            <p>Or you can drop us a line in our live chat too</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='location' style='background-color: #f7f7f7;'>
    <div class="container">
      <h2>Our locations:</h2>
      <div class='row' style='display: flex;flex-direction: row'>
        <div class="col-md-3">
          <img src='../assets/img/location.png' alt=''>
          <h3 style='color:#db2792; font-weight:400'>Miami, FL</h2>
        </div>
        <div class="col-md-3">
          <img src='../assets/img/location.png' alt=''>
          <h3 style='color:#db2792; font-weight:400'>West Palm Beach, FL</h2>
        </div>
        <div class="col-md-3">
          <img src='../assets/img/location.png' alt=''>
          <h3 style='color:#db2792; font-weight:400'>Hollywood, CA</h2>
        </div>
        <div class="col-md-3">
          <img src='../assets/img/location.png' alt=''>
          <h3 style='color:#db2792; font-weight:400'>Los Angeles, CA</h3>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-6">
          <div class="footer-content">
            <div class="footer-logo">
              <img src="../assets/img/logo/footer-logo.png" alt="">
            </div>
            <p>328 NE 80th Terrace;
              <br />Miami, FL
              <br />33138</p>
          </div>
        </div>
        <div class="col-md-8 col-xs-6">
          <div class="text-right">
            <div class="footer-nav">
              <ul class="list-inline">
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#packages">Packages</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="tel:844-438-5454"><span class="fa fa-phone"></span> 844-Get-KiKi</a></li>
              </ul>
            </div>
            <div class="social-links">
              <ul class="list-inline">
                <li><a href="https://www.facebook.com/kikibooths"><span class="fa fa-facebook"></span></a></li>
                <li><a href="https://instagram.com/kikibooths/"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>

  <!--[if lt IE 9]>  
      <script type="text/javascript" src="../assets/js/jquery-1.12.4.min.js?ver=1"></script>
  <![endif]-->
  <!--[if (gte IE 9) | (!IE)]><!-->
  <script type="text/javascript" src="../assets/js/jquery-2.2.4.min.js?ver=1"></script>
  <!--<![endif]-->

  <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../assets/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="../assets/js/toastr.min.js"></script>
  <script type="text/javascript" src="../assets/js/jquery.appear.js"></script>
  <script type="text/javascript" src="../assets/js/jquery.sticky.js"></script>
  <script type="text/javascript" src="../assets/js/jquery.nav.js"></script>
  <script type="text/javascript" src="../assets/js/jquery.matchHeight.min.js"></script>
  <script type="text/javascript" src="../assets/js/scripts.js"></script>
</body>