<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>KiKi Booth</title>
    <meta name="description" content="Description.">
    <meta name="keywords" content="Keywords">

    <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/js/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css?ver=1.0" type="text/css" media="all" />
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css?ver=1.0" type="text/css" media="all" />
    <link rel="stylesheet" href="../assets/css/toastr.min.css?ver=1.0" type="text/css" media="all" />
    <link rel="stylesheet" href="../assets/css/animate.css?ver=1.0" type="text/css" media="all" />
    <link rel="stylesheet" href="../assets/css/style.css?ver=1.0" type="text/css" media="all" />

    <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.min.js"></script>
        <script src="../assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Preloader -->
<!--     <div id="mask">
        <div id="loader"></div>
    </div> -->

    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-nav"></button>
                    <a class="navbar-brand text-hide" href="index.html"><img src="../assets/img/logo/logo.png" alt="" />KiKi Booth</a>
                </div>
        
                <div class="collapse navbar-collapse" id="header-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Packages</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><span><span class="fa fa-phone"></span> 844-Get-KiKi</span></li>
                        <li><a href="#" class="featured">Get a quote</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="hero" class="v2">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="hero-content">
                        <h1>
                            <strong>You found it:</strong><br> The top photo booth rental in<br> Miami for a price you can afford.
                        </h1>
                        <ul class="checked-list">
                           <li><strong>Enjoy unlimited prints</strong> to ensure everyone gets a photo.</li>
                           <li>Have fun with our <strong>huge variety of backdrops and props</strong>.</li>
                           <li><strong>Get the best customer service</strong> from day one. With <strong>over 7 years of experience</strong> under our belts, we'll make sure everything is perfect.</li>
                        </ul>
                    </div>
                    <div class="cta">
                        <a href="" class="button button-big">Check out our packages</a>
                        <div class="small-text-info">
                            <em>And find out how easy it is to bring the best photo booth experience to your event.</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="money-back"><img src="../assets/img/elem/money-back.png" alt=""></div>
        </div>
    </div>
    
    <div id="partner" class="white">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="partner-content big">
                        <p>With KiKi Booth, your event gets the same <strong>dedication</strong> and <strong>attention to detail</strong> acclaimed by some of the biggest companies in the world:</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="company-logo-wrapper">
                        <div class="logo-item"><a href=""><img src="../assets/img/elem/logo-white.png" alt=""></a></div>
                        <div class="logo-item"><a href=""><img src="../assets/img/elem/logo-white.png" alt=""></a></div>
                        <div class="logo-item"><a href=""><img src="../assets/img/elem/logo-white.png" alt=""></a></div>
                        <div class="logo-item"><a href=""><img src="../assets/img/elem/logo-white.png" alt=""></a></div>
                        <div class="logo-item"><a href=""><img src="../assets/img/elem/logo-white.png" alt=""></a></div>
                        <div class="logo-item"><a href=""><img src="../assets/img/elem/logo-white.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="how-to2">
        <div class="container">
            <h2>KiKi Booth brings you the <strong>greatest moments,</strong><br>
			the <strong>best service</strong> and the <strong>right price.</strong></h2>
			
			
			<img src="../assets/img/v2/01.png" class="imagem" alt="">
			
			<div class="text">
				<p>Are you looking for the <strong>best wedding photo booth rental?</strong></p>
				<p>Want to make an <strong>unforgettable mitzvah?</strong></p>
				<p>Or you're looking for the <strong>perfect entertainment</strong> for a <strong>party</strong> or <strong>birthday.</strong></p>
				<p><strong>You got it.</strong></p>
				
				<img src="../assets/img/v2/02.png" alt="">
			</div>
			
			<div class="card">
				<div>KiKi Booth will get you an awesome photo booth rental with the greatest <strong>attention to detail</strong>, top <strong>customer service</strong> and a price that fits your budget.</div>
			</div>
        </div>
    </div>

    <div id="how-to">
        <div class="container">
            <h2>With KiKi, this is what you'll get</h2>
            <div class="booth-wrapper">
                <div class="main-elements">
                    <div class="booth-illustration">
                        <img src="../assets/img/elem/illustration.png" class="hidden-xs hidden-sm img-responsive-full" alt="">
                        <img src="../assets/img/elem/illustration-mobile.png" class="visible-xs visible-sm img-responsive-full" alt="">
                    </div>
                    <div class="booth-description">
                        <em><strong>Flexible setup acording to your space</strong>
                        <br />Your KiKi Boot will take up less than 8x8 ft.</em>
                    </div>
                </div>
                <div class="floating-elements">
                    <div class="element-1">
                        <h3>Unlimited <br />Prints</h3>
                        <p>Everyone on camera <br />takes a picture home. <br />No limits.</p>
                    </div>
                    <div class="element-2">
                        <h3>On-site Attendant</h3>
                        <p>to guarantee an easy and awesome experience for you and your guests.</p>
                    </div>
                    <div class="element-3">
                        <h3>Over 40 backdrop options</h3>
                        <p>make your photo booth matches the theme of your event.</p>
                    </div>
                    <div class="element-4">
                        <h3>Lots of trendy props.</h3>
                        <p>to make pictures more <br />fun and interactive.</p>
                    </div>
                </div>
            </div>

            <div class="howto-wrapper">
                <div class="row">
                    <div class="col-md-5">
                        <h2><strong>Working with KiKi will be the easiest part of your event.</strong></h2>
                        <div class="whats-included">
                            <div class="whats-included-item">
                                <h3>Early setup included</h3>
                                <p><strong>Our team arrives 2 hours prior to your event</strong> for setup and testing - only good surprises here!</p>
                            </div>
                            <div class="whats-included-item">
                                <h3>Backup & quality guaranteed</h3>
                                <p><strong>We bring backup equipment to every event</strong> so you can have peace of mind and <strong>100% quality guaranteed.</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-2">
                        <div class="testimony-wrapper medium">
                            <div class="author">
                                <img src="../assets/img/elem/testimony-guy.png" alt="" class="img-circle">
                            </div>
                            <div class="testimony-words">
                                <em>“You all were referred to me by a friend and she said <strong>working with your company was the easiest part of her wedding - and she wasn’t kidding</strong>. You guys are great!”</em>
                            </div>
                            <div class="about-author">
                                <strong><em>Shannon Smith</em></strong>
                                <div class="address">Palm Spring North, FL</div>
                                <div class="time">June, 2018</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="cta">
                <a href="" class="button button-big">Check out our packages</a>
                <div class="small-text-info">
                    <em>And find out how easy it is to bring the best photo booth experience to your event.</em>
                </div>
            </div>
        </div>
    </div>	
	
    <div id="your-party">
        <div class="container">
			<h2>Your party deserves a photo booth specialist.</h2>
			<div class="subhead">That's <strong>the only way</strong> to ensure the <strong>best pictures</strong> and<br> the <strong>greatest time</strong> for you and your guests.</div>
			
			<div class="row">
				<div class="col-md-5">
					<div class="text">
						<p>With <strong>over 7 years experience</strong> in creating awesome photo booth experience for any kind of event, <strong>we've got know more than a little about how to make a great party even better.</strong></p>
					
						<p>And that's why we know you should always trust your best moments with the prefessionals: to make sure everything will be no less than perfect.</p>
				
						<p class="big">Check out what we have to offer in comparison to other services you've ll find in Miami:</p>
					
						<img class="arr" src="../assets/img/v2/05.png" alt="">
					</div>
				</div>
				<div class="col-md-7">
					<div class="box-lists">
						<div class="item">
							<h3>Others Providers such as DJ's</h3>
							
							<ul>
								<li>Offers photo booth as a side bonus. <strong>No attention to detail.</strong></li>
								<li>Photo generalists.</li>
							</ul>
						</div>
						<div class="item gradient">
							<h3>Kiki Booth</h3>
							
							<ul>
								<li>100% attention dedicated to create the perfect photo booth experience. In the smallest details.</li>
								<li>Photo Booth Experts with 6000+ events under our belts.</li>
							</ul>
						</div>	
					</div>
					
					<div class="box-lists">
						<div class="item">
							<h3>Small Photo <br>Booth Company.</h3>
							
							<ul>
								<li>Small prices at a high cost: no backup equipment and a small overworked team.</li>
								<li>Weekend warriors: those professionals only work with photo booth as an extra.</li>
							</ul>
						</div>
						<div class="item gradient">
							<h3>Kiki Booth</h3>
							
							<ul>
								<li>A fair price to have all logistics covered from begginning to end, backups and all included.</li>
								<li>We are highly specialized in photo booth for events and we have a whole team dedicated to you 24/7.</li>
							</ul>
						</div>						
					</div>					
				</div>
			</div>
		</div>
	</div>	
	
    <div id="gallery" class="white">
        <div class="container">
            <h2>This is what you event will look like with us</h2>
            <p class="lead">
                Whatever the kind of party you are planning, KiKi brings the<br> <strong>best photography professionals</strong> and equipment to create<br> unforgettable, <strong>amazing memories.</strong>
            </p>
            <div class="tabs-wrapper">
                <!-- Nav Dropdowns -->
                <div class="dropdown gallery-dropdown visible-xs visible-sm">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="selected-dd">Weddings</span>
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="tablist">
                        <li role="presentation" class="active"><a href="#weddings" aria-controls="weddings" role="tab" data-toggle="tab">Weddings</a></li>
                        <li role="presentation"><a href="#kidsparties" aria-controls="kidsparties" role="tab" data-toggle="tab">Kid's Parties</a></li>
                        <li role="presentation"><a href="#mitzvahs" aria-controls="mitzvahs" role="tab" data-toggle="tab">Mitzvahs</a></li>
                        <li role="presentation"><a href="#houseparties" aria-controls="houseparties" role="tab" data-toggle="tab">House Parties</a></li>
                        <li role="presentation"><a href="#birthday" aria-controls="birthday" role="tab" data-toggle="tab">Birthdays</a></li>
                    </ul>
                </div>
                <!-- Nav tabs -->
                <ul class="hidden-xs hidden-sm nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#weddings" aria-controls="weddings" role="tab" data-toggle="tab">Weddings</a></li>
                    <li role="presentation"><a href="#kidsparties" aria-controls="kidsparties" role="tab" data-toggle="tab">Kid's Parties</a></li>
                    <li role="presentation"><a href="#mitzvahs" aria-controls="mitzvahs" role="tab" data-toggle="tab">Mitzvahs</a></li>
                    <li role="presentation"><a href="#houseparties" aria-controls="houseparties" role="tab" data-toggle="tab">House Parties</a></li>
                    <li role="presentation"><a href="#birthday" aria-controls="birthday" role="tab" data-toggle="tab">Birthdays</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="weddings">
                        <div class="content-wrapper">
                            <div class="content-item">
                                <div class="img-wrapper">
                                    <img src="../assets/img/media/gallery-1.png" class="img-responsive" alt="">
                                </div>
                                <div class="content-text">
                                    <strong>Mary Sue's Wedding</strong>
                                    <br />City, State
                                    <br />November, 2017
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="img-wrapper">
                                    <img src="../assets/img/media/gallery-2.png" class="img-responsive" alt="">
                                </div>
                                <div class="content-text">
                                    <strong>Mary Sue's Wedding</strong>
                                    <br />City, State
                                    <br />November, 2017
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="img-wrapper">
                                    <img src="../assets/img/media/gallery-3.png" class="img-responsive" alt="">
                                </div>
                                <div class="content-text">
                                    <strong>Mary Sue's Wedding</strong>
                                    <br />City, State
                                    <br />November, 2017
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="img-wrapper">
                                    <img src="../assets/img/media/gallery-4.png" class="img-responsive" alt="">
                                </div>
                                <div class="content-text">
                                    <strong>Mary Sue's Wedding</strong>
                                    <br />City, State
                                    <br />November, 2017
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="kidsparties">...</div>
                    <div role="tabpanel" class="tab-pane" id="mitzvahs">...</div>
                    <div role="tabpanel" class="tab-pane" id="houseparties">...</div>
                    <div role="tabpanel" class="tab-pane" id="birthday">...</div>
                </div>
            </div>
            <div class="cta">
                <div class="text-action">
                    Do you want the pictures of your <br />event to look as great as these?
                </div>
                <a href="" class="button button-big">Check out our packages</a>
                <div class="small-text-info">
                    <em>And find out how easy it is to bring the best photo booth experience to your event.</em>
                </div>
            </div>
        </div>
    </div>

    <div id="reasons">
        <div class="container">
			<h3>Still looking for an awesome Photo Booth Rental in <strong>Miami?</strong></h3>
			<h2>Here are <strong>5 reasons to choose KiKi:</strong></h2>
			
			<div class="reasons-lists">
				<div class="row item">
					<div class="col-md-6">
						<br><br>
						<img src="../assets/img/v2/06.png" alt="">
					</div>
					<div class="col-md-6">
						<h3>If you're not satisfied with our<br> service, we'll ll give your money back.</h3>
						<h4>You have <strong>zero risk</strong> whe hiring us.</h4>
						<p>Our ultimate goal is to create a perfect<br> 
						photo booth experience or you and your<br> 
						guests, and <strong>that's how committed we are.</strong></p>
					
						<a href="#" class="button-border">Check out our packages</a>
						
						<i>And get the best photo booth ever, risk-free.</i>
					</div>	
					<span class="number">1</span>
				</div>
				<div class="row item">
					<div class="col-md-6">
						<h3>With Kiki everything looks<br> <strong>just like you wanted.</strong></h3>

						<ul>
							<li>Get a <strong>unique, custom artwork</strong> made by our <br>designers or,</li>
							<li><strong>We'll bring your design to life</strong>, you chose</li>
						</ul>
						
						<br>

						<a href="#" class="button-border">Check out our packages</a>
						
						<i>And find out how our photo booth will make<br> your party match your vision.</i>
					</div>					
					<div class="col-md-6">
						<img src="../assets/img/v2/07.png" alt="">
					</div>	
					<span class="number">2</span>
				</div>	
				<div class="row item">
					<div class="col-md-6">
						<img src="../assets/img/v2/08.png" alt="">
					</div>					
					<div class="col-md-6">
						<h3>Get the <strong>perfect backdrop</strong><br> to match you theme.</h3>

						<ul>
							<li>You can choose from <strong>over 40 options:</strong> eguins, glittered,<br> solid colors, kids, vintage, wedding and more!</li>
							<li><strong>Special options:</strong> Boxwood Hedges and Green Screen<br> Technology for custom backdrops.</li>
						</ul>

						<a href="#" class="button-border">Check out our packages</a>
						
						<i>And get your party the perfect photo<br> booth experience.</i>
					</div>	
					<span class="number">3</span>
				</div>		
				<div class="row item">				
					<div class="col-md-6">
						<h3><strong>Stay connected:</strong> we'll bring a<br> <strong>Wi-Fi hotspot</strong> for you to share<br> your moments.</h3>

						<ul>
							<li>No worries about bad connection, your only<br> task will be <strong>having fun</strong> and sharing it.</li>
						</ul>

						<a href="#" class="button-border">Check out our packages</a>
						
						<i>And get the most awesome pictures to share in<br> every social media you like.</i>
					</div>	
					<div class="col-md-6">
						<img src="../assets/img/v2/09.png" alt="">
					</div>	
					<span class="number">4</span>
				</div>	
				<div class="row item">	
					<div class="col-md-6">
						<img src="../assets/img/v2/10.png" alt="">
					</div>					
					<div class="col-md-6">
						<h3>Bring your photos to life with<br> <strong>animated GIFs</strong> and instant share.</h3>

						<ul>
							<li>We can turn your pictures into animated GIFs<br> and make them even more eye catching.</li>
							<li>Get your pictures in social media ready formats,<br> send them to your phone right from the photo<br> booth.</li>
						</ul>

						<a href="#" class="button-border">Check out our packages</a>
						
						<i>And get the most awesome pictures to share in<br> every social media you like.</i>
					</div>
					<span class="number">5</span>
				</div>
				<div class="row item">					
					<div class="col-md-6">
						<h3>With KiKi you get absolute control.</h3>

						<br>
						
						<p>Our <strong>online platform</strong> allows you to follow<br> 
						every stage of the making of a <strong>perfect<br> 
						photo booth experience</strong> for your event.</p>
						
						<ul>
							<li>Never miss any detail: review and approve your<br> customized photo layout and logistics from home.</li>
							<li>Access and download all your photos in<br> your Online Gallery.</li>
						</ul>

						<a href="#" class="button-border">Check out our packages</a>
						
						<i>And find out how easy it is to bring the best<br> photo booth experience to your event.</i>
					</div>	
					<div class="col-md-6">
						<br>
						<img src="../assets/img/v2/11.png" alt="">
					</div>
					<span class="number">6</span>
				</div>					
			</div>
		</div>
	</div>

    <div id="clients" class="white">
        <div class="container">
            <h2>Our clients always have the best time. </h2>
            <p class="lead">That's why we have top reviews:</p>
            <div class="clients-wrapper">
                <ul class="list-inline">
                    <li><span class="client-item"><img src="../assets/img/media/client-the-knot.png" alt=""></span></li>
                    <li><span class="client-item"><img src="../assets/img/media/client-wedding-wire.png" alt=""></span></li>
                    <li><span class="client-item"><img src="../assets/img/media/client-yelp.png" alt=""></span></li>
                </ul>
            </div>
            <p class="lead">Join our more <strong>than 6,000 happy clients</strong> and experience <br />the best photo booth experience for your event.</p>
        </div>
    </div>

    <div id="benefits">
        <div class="container">
            <div class="satisfaction-guaranteed">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>If you are not satisfied with our service after our event, we’ll give your money back.</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-wrapper"><img src="../assets/img/elem/money-back.png" class="img-responsive" alt=""></div>
                            </div>
                            <div class="col-md-8 text-left">
                                <p>We believe strongly in offering the best service for our customers and that’s how committed we are.</p>
                                <p>If you are not satisfied after your event, we’ll give you a complete refund, no questions asked!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment-plan">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>You also get the most flexible payment plan:</h2>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="img-wrapper"><img src="../assets/img/elem/icon-deposit.png" alt=""></div>
                                <p>Only a $100 deposit <br />to save the date.</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="img-wrapper"><img src="../assets/img/elem/icon-payment.png" alt=""></div>
                                <p>Make partial payments until <br />the date of your event.</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="img-wrapper"><img src="../assets/img/elem/icon-refund.png" alt=""></div>
                                <p>Refundable deposit up to 60 <br />days before your event.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="packages">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="text-callouts">2 hour packages</div>
                    <h2>Check out our packages and get a quote:</h2>
                    <ul class="checked-list">
                        <li>All packages include props, custom photo layout, and professional attendant.</li>
                        <li>Want more than 1 hour? No problem! Simply fill out the form below and we'll send you a customized quote.</li>
                    </ul>

                    <div class="package-wrapper">
                        <div class="row hidden-xs hidden-sm">
                            <div class="col-md-6">
                                <div class="package-item package-default">
                                    <h2>KiKi Green Screen</h2>
                                    <p>Replace background with any <br />image or scene.</p>
                                    <ul>
                                        <li>Unlimited Printouts</li>
                                        <li>Green screen technology - <br />choose any image as background</li>
                                        <li>Replace background with any<br/>image or scene</li>
                                        <li>Instant sharing and gallery</li>
                                    </ul>
                                    <div class="price-wrapper">
                                        <div class="before-price">$675</div>
                                        <div class="current-price">$ 625</div>
                                    </div>
                                    <div class="cta">
                                        <a href="" class="button button-inverse">Get a quote</a>
                                        <div class="small-text-info"><em>Check out our upgrade options and perks with no strings attached.</em></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="package-item package-premium">
                                    <div class="illustration-wrapper">
                                        <img src="../assets/img/elem/package-illustration-premium.png" alt="">
                                    </div>
                                    <span class="best-value"><img src="../assets/img/elem/best-value.png" alt=""></span>
                                    <h2>KiKi Premium</h2>
                                    <p>Full experience with digital photos and printouts.</p>
                                    <ul>
                                        <li>Unlimited Printouts</li>
                                        <li>Choose from 40 backdrops and lots of props</li>
                                        <li>Add professional studio lighting</li>
                                        <li>Instant sharing and gallery</li>
                                    </ul>
                                    <div class="spacer"></div>
                                    <div class="price-wrapper">
                                        <div class="before-price">$575</div>
                                        <div class="current-price">$ 525</div>
                                    </div>
                                    <div class="cta">
                                        <a href="" class="button">Get a quote</a>
                                        <div class="small-text-info"><em>And find out how easy it is to bring the best photo booth experience to your event</em></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="carousel-package" class="carousel slide visible-xs visible-sm" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-package" data-slide-to="0"></li>
                                <li data-target="#carousel-package" data-slide-to="1" class="active"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item">
                                    <div class="package-item package-default">
                                        <h2>KiKi Green Screen</h2>
                                        <p>Replace background with any <br />image or scene.</p>
                                        <ul>
                                            <li>Unlimited Printouts</li>
                                            <li>Green screen technology - <br />choose any image as background</li>
                                            <li>Replace background with any<br/>image or scene</li>
                                            <li>Instant sharing and gallery</li>
                                        </ul>
                                        <div class="price-wrapper">
                                            <div class="before-price">$675</div>
                                            <div class="current-price">$ 625</div>
                                        </div>
                                        <div class="cta">
                                            <a href="" class="button button-inverse">Get a quote</a>
                                            <div class="small-text-info"><em>Check out our upgrade options and perks with no strings attached.</em></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item active">
                                    <div class="package-item package-premium">
                                        <div class="illustration-wrapper">
                                            <img src="../assets/img/elem/package-illustration-premium.png" alt="">
                                        </div>
                                        <span class="best-value"><img src="../assets/img/elem/best-value.png" alt=""></span>
                                        <h2>KiKi Premium</h2>
                                        <p>Full experience with digital photos and printouts.</p>
                                        <ul>
                                            <li>Unlimited Printouts</li>
                                            <li>Choose from 40 backdrops and lots of props</li>
                                            <li>Add professional studio lighting</li>
                                            <li>Instant sharing and gallery</li>
                                        </ul>
                                        <div class="spacer"></div>
                                        <div class="price-wrapper">
                                            <div class="before-price">$575</div>
                                            <div class="current-price">$ 525</div>
                                        </div>
                                        <div class="cta">
                                            <a href="" class="button">Get a quote</a>
                                            <div class="small-text-info"><em>And find out how easy it is to bring the best photo booth experience to your event</em></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-us">
        <div class="container">
            <h2>Get a quote and claim <br />your $50 discount now.</h2>
            <p class="lead">Fill out our contact form to know more <br />and take KiKi to your event.</p>
            <form action="" id="contactForm" class="contact-form" method="post">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div id="msgSubmit" class="alert alert-success hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Success!</strong> Thank you for your request. We'll be in touch with you shortly.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input name="name" type="text" class="form-control" id="fullName" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="eMail">E-mail</label>
                            <input name="email" type="email" class="form-control" id="eMail" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input name="phone" type="tel" class="form-control" id="phone" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input name="city" type="text" class="form-control" id="city" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="state">State</label>
                            <select name="state" id="state" class="form-control">
                                <option value="">Select</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="form-group">
                            <label for="package">Package</label>
                            <select name="package" id="package" class="form-control">
                                <option value="">Select an option</option>
                                <option value="KiKi Premium">KiKi Premium</option>
                                <option value="KiKi GreenScreen">KiKi GreenScreen</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="eventType">Type of Celebration</label>
                            <select name="type" id="eventType" class="form-control">
                                <option value="">Select an option</option>
                                <option value="Weddings">Weddings</option>
                                <option value="Kid's Parties">Kid's Parties</option>
                                <option value="Mitzvahs">Mitzvahs</option>
                                <option value="House Parties">House Parties</option>
                                <option value="Birthdays">Birthdays</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="cta">
                    <button type="submit" class="button button-big">Get a quote</button>
                    <div class="small-text-info">
                        <em>And claim your $ 50 discount.</em>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="contact">
        <div class="container">
            <h2>This is where you can find us</h2>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <ul class="checked-list">
                        <li>KiKi will go wherever you need us!</li>
                        <li>We offer <strong>free delivery</strong> in a 50 mile radius around every HQ unit.</li>
                    </ul>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="contact-phone">
                        <p><strong>You can also contact us on the phone:</strong></p>
                        <div class="phone-number">
                            <span class="fa fa-phone"></span>
                            <p><strong>844-Get KiKi</strong></p>
                            <p class="normal">We are <strong>available 24/7</strong>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d151529.91349722815!2d-80.27752414996607!3d25.847253433208138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b17fa0488657%3A0x5fab42c390d6293b!2s328+NE+80th+Terrace%2C+Miami%2C+FL+33138%2C+USA!5e0!3m2!1sen!2sid!4v1535882951667" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div id="faq">
        <div class="container">
            <h2>Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="faq-wrapper">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            1. How much space does the KiKi Booth take?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>Our setup takes a maximum space of 8 x 8 ft, depending on which package you choose.</p>
                                        <p><a href=""><strong>Check out our packages.</strong></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            2. Does the KiKi Booth work outdoors?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius facere laborum sapiente voluptatibus. Dolores illo magnam magni necessitatibus nobis, odio quam unde! Exercitationem nemo nisi quod sit! Consequuntur, saepe.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            3. What are the backdrop options avaialable?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius facere laborum sapiente voluptatibus. Dolores illo magnam magni necessitatibus nobis, odio quam unde! Exercitationem nemo nisi quod sit! Consequuntur, saepe.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                            4. Can I have a specific themed backdrop
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius facere laborum sapiente voluptatibus. Dolores illo magnam magni necessitatibus nobis, odio quam unde! Exercitationem nemo nisi quod sit! Consequuntur, saepe.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                            5. What are my payment options?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius facere laborum sapiente voluptatibus. Dolores illo magnam magni necessitatibus nobis, odio quam unde! Exercitationem nemo nisi quod sit! Consequuntur, saepe.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cta">
                <div class="small-text-info">
                    <em>Ready to give your event with the best photo <br />booth experience?</em>
                </div>
                <a href="" class="button button-big">Get a quote</a>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="info-card small">
                        <p><em>Still not sure? <a href="">Fill out our contact form</a> and we'll answer your questions.</em></p>
                        <p>Or you can drop us a line in our live chat too</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="footer-content">
                        <div class="footer-logo">
                            <img src="../assets/img/logo/footer-logo.png" alt="">
                        </div>
                        <p>328 NE 80th Terrace;
                            <br />Miami, FL
                            <br />33138</p>
                    </div>
                </div>
                <div class="col-md-8 col-xs-6">
                    <div class="text-right">
                        <div class="footer-nav">
                            <ul class="list-inline">
                                <li><a href="">Gallery</a></li>
                                <li><a href="">Packages</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href=""><span class="phone-icon"></span> 844-Get-KiKi</a></li>
                            </ul>
                        </div>
                        <div class="social-links">
                            <ul class="list-inline">
                                <li><a href=""><span class="fa fa-facebook"></span></a></li>
                                <li><a href=""><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>

    <!--[if lt IE 9]>  
        <script type="text/javascript" src="../assets/js/jquery-1.12.4.min.js?ver=1"></script>
    <![endif]-->  
    <!--[if (gte IE 9) | (!IE)]><!-->  
        <script type="text/javascript" src="../assets/js/jquery-2.2.4.min.js?ver=1"></script>
    <!--<![endif]-->  

    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/toastr.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.appear.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.nav.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.matchHeight.min.js"></script>
    <script type="text/javascript" src="../assets/js/scripts.js"></script>

</body>
</html>